/* Tablette */

@media (max-width: 1024px) {

.search-bar button {
  font-size: 18px;
  margin: 0 auto;
} 
  
.filter-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.filter-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.filter-list li {
  flex: none;
  margin-bottom: 0;
}

.filter-list li button {
  width: auto;
}

.hebergements-and-populaires {
  flex-direction: column;
}

.hebergements {
  width: 100%;
}

.populaires {
  width: 100%;
}

.populaires-cards {
  display: flex;          
  gap: 20px;        
}

.populaires-cards .card {
  border-radius: 20px;
  overflow: hidden;
}

.populaires-cards .card img {
  width: 91px;
  object-fit: cover; 
  border-radius: 20px 0 0 20px; 
  flex-shrink: 0;
} 

.populaires-cards .card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
}

.populaires-cards .card-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.populaires-cards .card-price {
  font-size: 14px;
  margin-bottom: 5px;
}

.populaires-cards .card-rating {
  margin-top: auto;
}


.activites-cards .card img {
  height: 200px;
}

.activites-cards .card h3 {
  padding: 15px;
}


}
